.white-main { background-color: #FFFFFF; }
.red-main { background-color: #FF1F00; }
.orange-main { background-color: #FF7900; }
.yellow-main { background-color: #FFC700; }
.green-main { background-color: #20CC20; }
.skyblue-main { background-color: #43C9FF; }
.blue-main { background-color: #0075FF; }
.purple-main { background-color: #C465FF; }
.pink-main { background-color: #FF7596; }
.black-main { background-color: #20201E; }

.white-dark { background-color: #CCCCCC; }