.white-background { background-color: #FFFFFF; }
.red-background { background-color: #FF1F00; }
.orange-background { background-color: #FF7900; }
.yellow-background { background-color: #FFC700; }
.green-background { background-color: #20CC20; }
.skyblue-background { background-color: #43C9FF; }
.blue-background { background-color: #0075FF; }
.purple-background { background-color: #C465FF; }
.pink-background { background-color: #FF7596; }
.black-background { background-color: #20201E; }
.grey-background { background-color: #CCCCCC; }

.red-font { color: #FF1F00; }
.orange-font { color: #FF7900; }
.yellow-font { color: #FFC700; }
.green-font { color: #20CC20; }
.skyblue-font { color: #43C9FF; }
.blue-font { color: #0075FF; }
.purple-font { color: #C465FF; }
.pink-font { color: #FF7596; }
.black-font { color: #20201E; }