#container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

#title-container {
    margin-top: 27vh;
}

#title {
    font-size: 9.2vw;
    font-variation-settings: "wght" 800;
    color: #20201E;
}

#subtitle {
    text-align: end;
    font-size: 2vw;
    font-variation-settings: "wght" 700;
    color: #20201E;
}

#scroll-container {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-text {
    font-size: 24px;
}

.scroll-icon {
    width: 35px;

    margin-top: 3px;
}

#quote {
    font-size: 4.5vw;
    font-variation-settings: "wght" 650;
    color: #20201E;

    margin-top: 90vh;
}

#quote-person {
    font-size: 2.1vw;
    font-variation-settings: "wght" 550;
    color: #20201E;

    margin-top: 30px;
}

#circles {
    margin: 60px 0px;
}

.circle-icon {
    display: block;
    width: 7px;
    height: 7px;

    margin: 40px 0px;
}

.game-introduction {
    width: 60vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0px;
}

.game-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;
    margin-right: 25px;
}

.game-description-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.game-title {
    font-size: 2vw;
    font-variation-settings: "wght" 750;

    margin-bottom: 5px;
}

.game-description {
    text-align: start;
    line-height: 1.5;
    font-size: 1.15vw;
}

.game-play-button {
    position: relative;
    display: inline-block;
    width: 7.5vw;
    z-index: 10;

    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    color: #20201E;

    padding: 5px 1vw;
    border: 1px solid #20201E;
    border-radius: 30px;
    margin-left: 10px;

    transition: all 0.1s ease;
}

.game-play-button:hover {
    background-color: #20201E;
    color: #FFFFFF;
}

.divider {
    width: 60vw;
    height: 1px;

    border-bottom: 1px solid #20201E;
    margin: 40px 0px;
}