/* 폰트 설정 */
@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	src: url('./font/SUIT-Variable.woff2') format('woff2-variations');
}

* {
    /* 사이즈 계산을 margin 범위로 설정 */
    box-sizing: border-box;

    /* 폰트 설정 */
    font-family: "SUIT Variable", sans-serif;
}

body {
    /* body가 스크린을 꽉 채우게 설정 */
    margin: 0px;
    min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
